@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

@layer components {
	.dashboardLayout {
		display: grid;
		grid-template-areas:
			'top top top'
			'aside main main';
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto 1fr;
	}
}
